absl-py==0.9.0
tensorflow-hub==0.8.0
numpy==1.18.2
nltk==3.4.5
scikit-learn==0.22.2.post1
bert-serving-client==1.10.0
temp==2019.4.13
jupyter==1.0.0
nltk==3.4.5
sumy==0.8.1
seaborn==0.10.0
tabulate==0.8.7
tensorflow==2.1.0
gensim==3.8.2
spacy==2.2.4
sumy==0.8.1
summa==1.2.0

